.letter-inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 14vw;
}
.boxes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  /* margin-left: 11rem; */
}
.letter-boxes-container{
  display: flex;
  align-items: center;
  gap: 1rem;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 7rem;
  width: 7rem;
  font-size: 4.5rem;
  padding: 0.5rem;
  border-radius: 10%;
  font-family: "Roboto", sans-serif;
  background-color: var(--light-teal);
}

.submit-word-btn {
  border-radius: 10%;
  height: 7rem;
  width: 11rem;
  font-size: 2.5rem;
  padding: 0.5rem;
  display:flex;
  justify-content: center;
  align-items:center;
  font-family: "Fredoka", "sans-serif";
  background-color: var(--moss-green);
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, transform 0.2s;
}

.submit-word-btn:hover {
  background-color: var(--moss-green);
  transform: scale(1.05); 
}

.counter {
  font-size: 1.5rem;
}

.correct {
  border: 4px solid green;
}

.incorrect {
  border: 4px solid var(--red);
}

.feedback-message {
  font-size: 2rem;
  font-weight: 400;
  color: var(--black);
  font-family: "Fredoka", "sans-serif";
}

@media screen and (max-width: 1504px) {
 
}
@media screen and (max-width: 1204px) {
  input {
    height: 6rem;
    width: 6rem;
    font-size: 4rem;
   }
   .submit-word-btn {
    height: 6rem;
    width: 10rem;
    font-size: 2.5rem;
    padding: 0.5rem;
   }
}
@media screen and (max-width: 1000px) {
  input {
    height: 6rem;
    width: 6rem;
    font-size: 4rem;
   }
   .submit-word-btn {
    height: 6rem;
    width: 10rem;
    font-size: 2rem;
    padding: 0.5rem;
   }
 
}
/* ipad screen size */
@media screen and (max-width: 821px) {
 input {
  height: 4rem;
  width: 4rem;
  font-size: 3rem;
 }
 .submit-word-btn {
  height: 4rem;
  width: 8rem;
  font-size: 2.2rem;
  padding: 0.5rem;
 }
}

/* mobile devices */
@media screen and (max-width: 435px) {
  input {
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
   }
   .submit-word-btn {
    height: 3rem;
    width: 7rem;
    font-size: 2rem;
    padding: 0.5rem;
    margin-top: 1rem;
   }
   .boxes-container {
    gap: .5rem;
    margin-bottom: 2rem;
    /* margin-left: 11rem; */
    flex-direction: column;
  }
  .letter-boxes-container{
    display: flex;
    align-items: center;
    gap: .25rem;
  }
  .letter-inputs-container {
    margin-bottom: 4vh;
  }
}
/* mobile devices */
@media screen and (max-height: 435px) and (orientation:landscape){
  input {
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
   }
   .submit-word-btn {
    height: 3rem;
    width: 7rem;
    font-size: 2rem;
    padding: 0.5rem;
    margin-top: 0rem;
   }
   .boxes-container {
    gap: .5rem;
    margin-bottom: 2rem;
    /* margin-left: 11rem; */
    flex-direction: row;
    align-items:center;
  }
  .letter-boxes-container{
    display: flex;
    align-items: center;
    gap: .25rem;
  }
  .letter-inputs-container {
    margin-bottom: 0vh;
  }
}