.start-page-container {
  background-image: radial-gradient(
    circle,
    #546ff9,
    #009eff,
    #00c0f6,
    #73dae3,
    #c7eee4
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  font-size: 200px;
  text-align: center;
  color: var(--dark-blue);
  text-shadow: #c7eee4 3px 5px 0,
               #73dae3 4px 6px 3px,
               #faf5f5 8px 11px 10px;
}

.happy-seal {
  width: 350px
}

h2 {
  font-size: 3em
}


.start-btn {
  border-radius: 30%;
  height: 5rem;
  width: 10rem;
  font-size: 2.5rem;
  padding: 0.5rem;
  font-family: "Fredoka", "sans-serif";
  background-color: #73dae3;
}
.start-page-fish-container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.yellow-fish,
.blue-fish {
  width: 6em;
  z-index: 1;
  top: 50vh;
  margin: 0
}

.blue-fish {
  margin-left: 50px
}





