.start-page-container {
  background-image: radial-gradient(circle, #546ff9, #009eff, #00c0f6, #73dae3, #c7eee4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly
}

h1 {
  font-size: 100px
}

.seal {
  height: 400px;
  position: static;
}

h2 {
  font-size: 45px
}

.start-btn {
  border-radius: 30%;
  height: 5rem;
  width: 10rem;
  font-size: 2.5rem;
  padding: 0.5rem;
  font-family: "Fredoka", "sans-serif";
  background-color: #73dae3;
}
.start-page-fish-container {
  display: flex
}
.yellow-fish, .blue-fish {
  width: 5em;
  z-index: 1;
  top: 50vh;
}
