.start-page-container {
  background-image: radial-gradient(
    circle,
    #546ff9,
    #009eff,
    #00c0f6,
    #73dae3,
    #c7eee4
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}
.start-page-title {
  color: midnightblue;
}

.start-page-title,
.result-message {
  font-size: 9rem;
  text-align: center;
  text-shadow: #c7eee4 3px 5px 0, #73dae3 4px 6px 3px, #faf5f5 8px 11px 10px;
}

.happy-seal {
  width: 15vw;
}

.start-page-instructions {
  font-size: 3em;

  font-weight: 400;
  text-align: center;
}

.start-btn {
  border-radius: 30px;
  height: 5rem;
  width: 10rem;
  font-size: 2.5rem;
  padding: 0.5rem;
  font-family: "Fredoka", sans-serif;
  background-color: #73dae3;
  border: none;
  transition: background-color 0.3s, transform 0.2s;
}

.start-btn:hover {
  background-color: #6bcad1;
  transform: scale(1.05); 
}
.start-page-fish-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3px;
}

.yellow-fish,
.blue-fish {
  width: 6em;
  z-index: 1;
  margin: 0;
}

.blue-fish {
  margin-left: 50px;
}

@media screen and (max-width: 1000px) {
  .result-message {
    font-size: 7rem;
  }
  .back-to-home-btn {
    font-size: 2rem;
  }
}
/* ipad screen size */
@media screen and (max-width: 821px) {
  .result-message {
    font-size: 6rem;
  }
}
/* larger mobile devices */
@media screen and (max-width: 721px) {
  .result-message {
    font-size: 4.5rem;
  }
}
/* mobile devices */
@media screen and (max-width: 425px) {
  .start-page-title {
    font-size: 5rem;
  }

  .start-btn {
    font-size: 2rem;
    border-radius: 20px;
    height: 3.5rem;
    width: 7rem;
    margin-top: 1rem;
  }
  .start-page-instructions {
    font-size: 1.5em;
    margin-top: 1rem;
  }

  .happy-seal {
    width: 55vw;
  }

  .yellow-fish,
  .blue-fish {
    width: 3.5em;
  }

  .blue-fish {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .start-page-fish-container {
    margin-top: 2rem;
  }
}
@media screen and (max-height: 480px) and (orientation: landscape) {
  .start-page-title {
    font-size: 3.5rem;
  }
  .start-page-instructions {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .start-btn {
    font-size: 1.5rem;
    border-radius: 10px;
    height: 2.5rem;
    width: 6rem;
  }
  .yellow-fish,
  .blue-fish {
    width: 3rem;
    z-index: 1;
    margin: 0;
  }
  .blue-fish {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .happy-seal {
    width: 20vw;
    margin: 0.5rem;
  }
  .start-page-container {
    padding: 1rem;
  }
  .result-message {
    font-size: 4rem;
  }
  .back-to-home-btn {
    font-size: 1.5rem;
    border-radius: 10px;
    width: 12rem;
    height: 3.5rem;
  }
}
